// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-contents {
  text-align: left;
    float: none;
    width: 980px;
    border-style: none;
    padding: 20px 0px;
    margin: 0;
    background-color: white;
}

.book {
    width: 105px;
    float: left;
    margin: 0 10px 0 0;
}
.picture {
  width: 115px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  height: 145px;
  padding-bottom: 10px;
  overflow: hidden;
}